

body {
    margin: 0;
    padding: 0;

}
header {
    background-color: aqua;
    width: 100%;
    height: 100px;


}
header h2{
    color: blue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0px;


}

header nav ul {
    float: right;
    display: inline;
    margin: 0 auto;
    width: fit-content;



}
header nav ul li {
    display: inline-block;
    
    padding: 0 16px;
    list-style-type: none;
    

}

header nav ul li a {

    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    float: right;
    text-decoration: none;
}
.index-banner {
    width: 100%;
    height: calc(100vh - 100px); 
    background-image: url('dry.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

}
.index-banner h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 8px red;
    line-height: 70px;
    padding-top: 90px;


}
.index-banner h1 {
     font-size: 45px;
     font-family: 'Times New Roman', Times, serif;
     font-weight: 1500;
     color: black;
     text-align: center;
     text-shadow: 4px 4px 12px purple;
     line-height:80px;


}
.index-links div {
    margin: 16px 16px 0;
    width: calc(100% -32px);
    height: 100px;
    background-color: brown;

}
.index-banner .btn {
    color: black;
    background-color: red;
    border: 5px solid black;
    font-size: 25px;
font-family: 'Times New Roman', Times, serif;

}
.foot1 {

    height: 80px;
    width: 100%;

}
.locat{
    height: 100px;
    width: 30%;
    background-color: aqua;
    float: left;
}
.email {
     height: 100px;
     width: 40%;
     margin: 0 auto;
     background-color: blue;
     float: left;

}
.call {
    height: 100px;
    width: 30%;
    background-color: aqua;
    float: right;
}

#section-container{
    width: 80%;
    margin: auto;

}
#img-container {
    box-sizing: border-box;
    width: 49%;
    float: left;
    padding: 10px 20px;
}
#text-container {
    box-sizing: border-box;
    width: 49%;
    float: left;
    padding: 10px 20px;


}
#text-container h3{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#text-container h1 {
    color: green;

} 
#text-container ul li {
    list-style-type:disc;
    color: blue;
    display:list-item;
}

#section-container1 {
    width:80%;
    margin: auto;
    
}
#text-container1{
    box-sizing: border-box;
    width: 49%;
    float:left;
    padding: 10px 20px;

}
#img-container1 {
    box-sizing: border-box;
    width: 49%;
    float:left;
    padding: 10px 20px;
    
}

.container{
    width: 1000px; 
    height: 400px;
     margin: 0 auto;
}
.row{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
    padding: 40px;
    margin: 25px;
    float: left;


    }

    .section-container1 .container3 {
        height: 30%;
        width: 30%;
        border: 1px solid black;


        
    }
    .container3 .child #one{
        width: 20%;
        height: 20%;
        background-color: aqua;

    }
    